@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Aboreto', cursive;
  font-weight: bold;
}
header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.title {
  color: black;
  font-size: 66px;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: rgb(37, 190, 214);
}
.navBarLinks {
  padding: 17px;
  color: black;
  background-color: white;
  height: 1vh;
  border-radius: 50%;
}
.logo {
  padding-left: 10px;
  height: 27vh;
}
.header {
  background-image: url('https://i.etsystatic.com/21337046/r/il/b4e980/2380433915/il_794xN.2380433915_lm4a.jpg');
  background-size: cover;
}
.loginCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 66px;
  border: solid black 5px;
  border-style: double;
  width: 44vw;
  height: 27vw;
}
.loginField {
  color: black;
  text-align: right;
  background-color: white;
  font-size: 27px;
  font-weight: 500;
}
.loginHeader {
  font-size: 39px;
  background-color: white;
  border: solid black 3px;
  width: 30vw;
  color: black;
}
.signUpPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 66px;
  border: solid black 5px;
  border-style: double;
  width: 47vw;
  height: 27vw;
}
.signUpField {
  color: black;
  text-align: right;
  background-color: white;
  font-size: 27px;
  font-weight: 500;
}
.signUpHeader {
  font-size: 39px;
  background-color: white;
  border: black solid 3px;
  width: 36vw;
  color: black;
}
.searchCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 66px;
  border: solid black 5px;
  border-style: double;
  width: 47vw;
  height: 47vh;
}
.searchField {
  color: black;
  text-align: right;
  background-color: white;
  font-size: 32px;
  font-weight: 500;
}
.searchHeader {
  font-size: 39px;
  background-color: white;
  border: black solid 3px;
  width: 36vw;
  color: black;
}
.buttonz:hover {
  text-decoration: none;
  background-color: rgb(37, 190, 214);
}

.buttonz {
  font-size: 17px;
  margin-top: 11px;
  margin-right: 10px;
  cursor: pointer;
  font-family: 'Aboreto', cursive;
  font-weight: bold;
}
.buttonZ:hover {
  text-decoration: none;
  background-color: rgb(201, 138, 216);
}
.buttonZ {
  font-size: 17px;
  margin-top: 11px;
  margin-right: 10px;
  cursor: pointer;
  font-family: 'Aboreto', cursive;
  font-weight: bold;
}
.searchResults {
  font-size: 30px;
}
.bottomQ {
  background-color: white;
  font-size: 25px;
  color: black;
}
.here {
  color: rgb(80, 208, 16);
}
.protectedContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 66px;
  border: solid black 5px;
  border-style: double;
  width: 44vw;
  height: 27vw;
}
.needLogin {
  background-color: white;
  font-size: 33px;
  color: black;
}

.songCardHolder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}
.songCard {
  margin: 30px;
}
.playlistCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.playlist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  border: 2px black solid;
  color: black;
}
.songCardImg {
  height: 333px;
  width: 333px;
  margin: 30px;
}
.playlistName {
  background-color: white;
}
@media screen and (max-width: 300px) {
  .songCardHolder {
    display: flex;
    flex-direction: column;
  }
}
.msg {
  font-size: 22px;
  font-weight: bold;
}
.playlistButtons {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.song {
  color: black;
}
.artist {
  font-size: 27px;
}
.length {
  font-size: 21px;
}
.createPlaylistName {
  height: 20px;
}
.editAccountButton {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 17px;
}
.editAccountButton:hover {
  text-decoration: none;
  background-color: rgb(201, 138, 216);
}
/* .home {
  background-image: url('https://i.pinimg.com/736x/d4/68/b5/d468b54752fbc11b232d90418a827f98.jpg');
  background-size: cover;
} */
.background {
  width: 70vw;
}
