.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}
header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.title {
  color: black;
  font-size: 66px;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: rgb(37, 190, 214);
}
.navBarLinks {
  padding: 17px;
  color: black;
  background-color: white;
  height: 1vh;
  border-radius: 50%;
}
.logo {
  padding-left: 10px;
  height: 23vh;
}
.header {
  background-image: url('https://i.etsystatic.com/21337046/r/il/b4e980/2380433915/il_794xN.2380433915_lm4a.jpg');
  background-size: cover;
}
.loginCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 88px;
  border: solid black 5px;
  width: 36vw;
  height: 21vw;
  background-image: url('https://i.etsystatic.com/21337046/r/il/b4e980/2380433915/il_794xN.2380433915_lm4a.jpg');
}
.loginField {
  color: rgb(55, 114, 223);
  text-align: right;
  background-color: white;
  font-size: 27px;
  font-weight: 500;
}
.loginHeader {
  font-size: 39px;
  background-color: white;
  border: black solid 1px;
  width: 30vw;
  color: rgb(55, 114, 223);
}
.signUpPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 88px;
  border: solid black 5px;
  width: 44vw;
  height: 25vw;
  background-image: url('https://i.etsystatic.com/21337046/r/il/b4e980/2380433915/il_794xN.2380433915_lm4a.jpg');
}
.signUpField {
  color: rgb(55, 114, 223);
  text-align: right;
  background-color: white;
  font-size: 27px;
  font-weight: 500;
}
.signUpHeader {
  font-size: 39px;
  background-color: white;
  border: black solid 1px;
  width: 36vw;
  color: rgb(55, 114, 223);
}
.searchCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 88px;
  border: solid black 5px;
  width: 44vw;
  height: 23vw;
  background-image: url('https://i.etsystatic.com/21337046/r/il/b4e980/2380433915/il_794xN.2380433915_lm4a.jpg');
}
.searchField {
  color: rgb(55, 114, 223);
  text-align: right;
  background-color: white;
  font-size: 32px;
  font-weight: 500;
}
.searchHeader {
  font-size: 39px;
  background-color: white;
  border: black solid 1px;
  width: 36vw;
  color: rgb(55, 114, 223);
}
.buttonz:hover {
  text-decoration: none;
  background-color: rgb(37, 190, 214);
}

.buttonz {
  font-size: 17px;
  margin-top: 11px;
  cursor: pointer;
}
.buttonZ:hover {
  text-decoration: none;
  background-color: rgb(201, 138, 216);
}
.buttonZ {
  font-size: 17px;
  margin-top: 11px;
  cursor: pointer;
}
.searchResults {
  font-size: 30px;
}
.bottomQ {
  background-color: white;
  font-size: 25px;
  color: rgb(27, 44, 157);
}
.here {
  color: rgb(19, 167, 19);
}
.protectedContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 88px;
  border: solid black 5px;
  width: 39vw;
  height: 22vw;
  background-image: url('https://i.etsystatic.com/21337046/r/il/b4e980/2380433915/il_794xN.2380433915_lm4a.jpg');
}
.needLogin {
  background-color: white;
  font-size: 33px;
  color: rgb(55, 114, 223);
}

.songCardHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.songCard {
  margin: 30px;
}
.playlistCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.playlist {
  margin: 50px;
}
.songCardImg {
  height: 333px;
  width: 333px;
  margin: 30px;
}
