.App {
  text-align: center;
}

header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.title {
  color: black;
  font-size: 66px;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: rgb(37, 190, 214);
}
.navBarLinks {
  padding: 17px;
  color: black;
}
.logo {
  height: 23vh;
}
